$default: #000000;
$accent: #fe3e57;
$bg: #00B285;
$white: #ffffff;
$item: #F8F8F8;
$kyivstar: #0ca6ed;
$soc: #000000;
$facebook: #3b5998;
$instagram: #fe3e57;
$telegram: #0088cc;
$viber: #7360f2;
$youtube: #c4302b;
$bg-alert: #3f0866;
$svg-alert: #ee4dc6;
$accent2: #8A6ED7;
$accent3: #ffcd00;
$contact: #4a4a4a;
$contact2: #313030;

%montserrat-300{
    font-family: "Montserrat-Light";
    font-weight: 300;
}
%montserrat-400{
    font-family: "Montserrat-Regular";
    font-weight: 400;
}
%montserrat-600{
    font-family: "Montserrat-SemiBold";
    font-weight: 600;
}
%TM-500{
    font-family: "Teko-Medium";
    font-weight: 500;
}







